<ion-header >
  
</ion-header>

<ion-content fullscreen class="animated fadeIn login auth-page"  >

  <div class="scroll-content">
    <div class="login-content">
  
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
       
        <h2 ion-text class="text-primary">
         <img src="assets/icon/logosareq.png">
        </h2>
      </div>
  
      <!-- Login form -->
      <form class="list-form">
        <ion-item color="none">
          <ion-label position="floating">
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required="required"></ion-input>
        </ion-item>
        
        <br>
  
        <ion-item color="none"  >
          <ion-label position="floating">
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required="required"></ion-input>
        </ion-item>
      </form>
  
      <p text-right ion-text style="color: red" tappable ><strong>Forgot Password?</strong></p>
  
      <div>
          <button *ngIf="email && password" class="btn btn-dark btn-lg btn-block" tappable (click)="submitLogin()">
              <ion-icon name="log-in"></ion-icon>
              Se Connecter
            </button>
          <!--show dead button if form is not filled
               <button *ngIf="!email && !password" ion-button color="danger" clear round>Login Now</button>  
  
-->
          

        <p text-center ion-text style="color: red" >Or Sign in with:</p>
  
        <ion-grid>
          <ion-row>
            <ion-col col-4>
                <ion-button expand="block" color="primary">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col col-4>
              <ion-button class="twitter" expand="block" color="secondary"> <!-- <button ion-button icon-only block color="twitter">-->
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col col-4>
              <ion-button expand="block" color="danger">
                <ion-icon name="logo-googleplus"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
  
      <!-- Other links -->
      <div text-center margin-top>
       <p style="color:gray" block clear tappable  [routerLink]="['/signup']">Nouveau Compte</p>
      </div>
  
    </div>
  </div>

  </ion-content>




