@media (min-width: 380px) {

    
.twitter{
  --ion-color-secondary: #55acee;
}

    ion-content.auth-page{

     
        background-color: #fff;
        --background: url(/../assets/imgs/bg1.jpg) no-repeat  center/cover fixed;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }

    ion-item {
      --border-color: var(--ion-color-primary, #9a3df1);
    }
 
  // Animate CSS
  .animated {
    animation-duration: 5s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  

    // Helpers
  .quarter-op {
    opacity: .25;
  }
  
  .no-paddingTRL {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .no-paddingTRB {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  
 
  

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: rgba(50, 10, 92, .4);

   
  }

.scroll-content{
    display: flex;
    align-items: center;
    justify-content: center;
    .login-content {  
        width: 40%;
        .logo {
          width: 60px;
          height: 60px;
          margin: 20px auto 0;
          border-radius: 10%;
          //background: url("../assets/img/ionic3-ico.png") no-repeat;
          background-size: 100%;
        }

        .list-form {
          padding: 0;
          margin-bottom: 0;
          ion-item {
            background: transparent;
            --border-color: white; // default underline color
            --highlight-color-invalid:blue; // invalid underline color
          }
        
        }
    }
}
      
   
  


}
    