<ion-split-pane>
    <ion-menu side="start" menuId="first" type="overlay">
      <ion-header>
        <ion-toolbar class="bleu" color="primary">
          
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content> 
          <ion-list>
          <ion-item>
              <img src="assets/icon/logosareq.png">
  
           </ion-item>
          <ion-item tappable [routerLink]="['/menu/home']">
              <ion-icon name="home" class="bleu" color="primary" slot="start"></ion-icon>
              <ion-label>
                  <h2>Accueil </h2>
                  <p>Welcome! :-)</p>
              </ion-label>
            </ion-item>
            <ion-item tappable [routerLink]="['/menu/fiche-client']">
              <ion-icon name="contacts" class="bleu" color="primary" slot="start"></ion-icon>
              <ion-label>
                  <h2>Fiche Prospect </h2>
                  <p>Gestion des Prospects</p>
              </ion-label>
            </ion-item>
            <ion-item tappable [routerLink]="['/menu/aggrement']">
              <ion-icon name="clipboard" class="bleu" color="primary" slot="start"></ion-icon>
              <ion-label>
                  <h2>Demande d'aggrement </h2>
                  <p>Gestion des Prospects</p>
              </ion-label>
            </ion-item>

            <ion-item tappable>
                
                    <ion-icon name="stats" class="bleu" color="primary" slot="start"></ion-icon>
                    <ion-label>
                    <h2>BASE DE DONNEES</h2>
                    <p>Choisissez un Domaine !</p>
                  </ion-label>
                  
            </ion-item>
            <ion-item tappable [routerLink]="['/menu/fraise-event']">
                  <ion-label>
                    <h2>FraiseEvent</h2>
                    <p>Agence de Communication</p>
                  </ion-label>
            </ion-item>
            <ion-item tappable [routerLink]="['/menu/sardis']">
                  <ion-label>
                    <h2>Sardis</h2>
                    <p>Distribution et Production</p>
                  </ion-label>
            </ion-item> 
          <ion-item tappable [routerLink]="['/menu/sareqbtp']">
                    <ion-label>
                    <h2>SareqBTP</h2>
                    <p>Travaux Publics, Bâtiment, Génie civil</p>
                  </ion-label>
          </ion-item>
          <ion-item tappable [routerLink]="['/menu/sareq-trans']"> 
                    <ion-label>
                    <h2>SareqTrans</h2>
                    <p>Transport...</p>
                  </ion-label>
           </ion-item> 
          
           <ion-item tappable [routerLink]="['/menu/facture-proformat']">
                
              <ion-icon name="paper" class="bleu" color="primary" slot="start"></ion-icon>
              <ion-label>
                  <h2>Facture Proformat </h2>
                  <p>...</p>
            </ion-label>
            
           </ion-item>

           <ion-item tappable [routerLink]="['/menu/facture-definitive']">
                
              <ion-icon name="paper" class="bleu" color="primary" slot="start"></ion-icon>
              <ion-label>
                  <h2>Facture Définitive </h2>
                  <p>...</p>
            </ion-label>
            
           </ion-item>
      
      </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet main></ion-router-outlet>
    
    </ion-split-pane>