<ion-header>
  <ion-toolbar class="bar" color="primary">
      <ion-buttons slot="start">
          <ion-back-button color="light"  defaultHref="login"></ion-back-button>
        </ion-buttons>
    
    <ion-title style="text-align: center;">Veuillez creer un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="first">
  <form class="list-form">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="person" item-start class="text-primary"></ion-icon>
        Prenom
      </ion-label>
      <ion-input type="text" [(ngModel)]="prenom" name="prenom" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="person" item-start class="text-primary"></ion-icon>
        Nom
      </ion-label>
      <ion-input type="text" [(ngModel)]="nom" name="nom" ></ion-input>
    </ion-item>

    <br>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="logo-reddit" item-start class="text-primary"></ion-icon>
        Date de Naissance
      </ion-label>
      <ion-datetime [(ngModel)]="birth" name="birth" display-format="DD-MM-YYYY	"></ion-datetime>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="mail" item-start class="text-primary"></ion-icon>
        Email
      </ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <br>
  
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        Mot de passe
      </ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <br>
  <ion-item>
    <ion-label position="floating">Genre</ion-label>
    <ion-select [(ngModel)]="genre" name="genre" placeholder="Select One">
      <ion-select-option value="homme">Homme</ion-select-option>
      <ion-select-option value="femme">Femme</ion-select-option>
    </ion-select>
  </ion-item>
  </form>

<br>

<div margin-top>
  <button class="btn btn-dark btn-lg btn-block" tappable (click)="doSignup()">
    S'inscrire
  </button>
</div>
</div>
</ion-content>
